

.connection{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    // height: 90vh;
    margin: 0 auto;
    width: 100%;
    line-height: 35px;
    .connection-form{
        form{
            label{
                opacity: .75;
            }
            .buttons{
                display: flex;
                flex-direction: column;
            }
            input[type=text], input[type=email],input[type=password]{
                width: 270px;
                height: 30px;
                border-radius: none;
                padding: 3px 10px;
                border: 1px solid #11111177;
            }
            button[type=submit]{
               
                    display: inline-block;
                    border: none;
                    padding: .9rem 2.8rem;
                    margin: 0;
                    text-decoration: none;
                    background: $green;
                    color: #ffffff;
                    font-family: sans-serif;
                    font-size: 1rem;
                    cursor: pointer;
                    text-align: center;
                    transition: background 250ms ease-in-out, 
                                transform 150ms ease;
                    -webkit-appearance: none;
                    -moz-appearance: none;
        
                    &:hover{
                    background: $green-bold;
                    }
                    
                    &:focus {
                        background: $green-bold;
                        outline: 1px solid #fff;
                        outline-offset: -4px;
                    }
        
                    &:active {
                        transform: scale(0.99);
                    }
                
            }
        }
    }

    .connection-title{
        font-family: 'Nunito',sans-serif;
        font-size: 2rem;
        padding: 30px 0;
    }
}




//Responsive

@media(min-width: 605px){
    .connection{
        .connection-form{
            form{
                input[type=text], input[type=email],input[type=password]{
                    width: 430px;
                    height: 30px;
                    border-radius: none;
                    padding: 3px 10px;
                    border: 1px solid #11111177;
                }
            }
        }
    }
}