// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
.header-bar{
    display: flex;
    justify-content: space-between;
    #menu-burger{
        width: 2em;
    }
}

.navbar{
    .navbar-brand{
        text-decoration: none;
        color: black;
        font-size: 1.7em;
    }
    .navbar-nav{
        padding-left: 0;
        // display: none;
        display: flex;
        flex-direction: column;
        text-align: left;
        list-style: none;
        font-size: 1.2em;
        a{
            color: black;
            text-decoration: none;
        }
        .toggle-off{
            display: none;
        }
    }
    .nav-item{
        color: red;
    }
}